<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
    <% include partials/header %>
        <h1>Hello World</h1>
    <% include partials/footer %>
</body>
